/.eslintcache
/react-query
/.speakeasy/reports
/__tests__
/funcs
/core.*
/esm
/dist
/.tshy
/.tshy-*
/models
/sdk/models/errors
/sdk/types
/lib
/sdk
/hooks
/index.*
/cjs
/node_modules
/.tsbuildinfo
dist/
node_modules/
# Custom ignores
openapi.json
openapi_client.json
.idea/
